{% extends 'base.html' %}
{% block content %}


<p>
    NCR Bangladesh had started developing a Branch Banking Application Software called "PcBANK" in the mid-80s.
    LEADS, as the successor, have upgraded the Package as an Integrated Banking Application Software, which was available
    in Client-Server Environmentand gradually evolved to most reliable core banking solution in the country - “BankUltimus”.
    This software is currently being used by 15 Commercial Banks in over 400 branches.LEADS, in its journey of innovation in Information Technologies,
    has achieved strong footprint in many industries, such as Capital Market, Merchant Bank, Insurance, Manufacturing and Distribution.
</p>

{% endblock %}